@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 415px;
  height: 458px;
  background: #2c3e50;
  border: 1px solid black;
}

.formula {
  width: 400px;
  height: 40px;
  margin-top: 5px;
  background: #2ecc71;
  line-height: 40px;
  text-align: right;
  font-size: 1.1em;
  padding-right: 5px;
  color: white;
  border: 1px solid #2c3e50;
}

#display {
  width: 400px;
  height: 50px;
  background: #3498db;
  line-height: 50px;
  text-align: right;
  font-size: 1.4em;
  padding-right: 5px;
  color: white;
  border: 1px solid #2c3e50;
}

.buttons {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 100px;
  height: 70px;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  background: #7f8c8d;
  color: white;
  border: none;
  outline: 1px solid #2c3e50;
}

button:hover {
  outline: 1px solid #f1c40f;
  z-index: 2;
}

.big-button {
  width: 200px;
  height: 70px;
  font-family: "Zilla Slab", serif;
  font-size: 1.2em;
  background: #7f8c8d;
  color: white;
  outline: 1px solid #2c3e50;
  border: none;
}

.AC {
  background: #d35400;
}

footer {
  margin-top: 5px;
}

footer a {
  text-decoration: none;
}
